<head>
    <title>Event Details</title>
</head>
<body>
    <h1>Event Details</h1>
    <div>
        <strong>Name:</strong> {{name}}
    </div>
    <div>
        <strong>Date::</strong> {{date}}
    </div>
    <div>
        <strong>Time:</strong> {{time}}
    </div>
    <div>
        <strong>Venue:</strong> {{venue}}
    </div>
    <div>
        <strong>Host:</strong> {{host}}
    </div>
    <div>
        <strong>Description:</strong> {{description}}
    </div>
    
</body>