<main>
   <div class="row">
      <div class="col-md-5">
         <br>
         <h2 id="heading">Event Details</h2>
         <form method="POST" id="eventdetails-form" action="?">
    <div id="name">
        <strong>Name:</strong> {{name}}
    </div>
    <div id="date">
        <strong>Date:</strong> {{date}}
    </div>
    <div id="time">
        <strong>Time:</strong> {{time}}
    </div>
    <div id="venue">
        <strong>Venue:</strong> {{venue}}
    </div>
    <div id="host">
        <strong>Host:</strong> {{host}}
    </div>
    <div id="description">
        <strong>Description:</strong> {{description}}
    </div>


  <input type="submit" class="btnq" value="Register for event">
   </form>
   <br>
      </div>
</div>
</main>