<style>
    .event-card {
        border-radius: 5px;
        padding: 20px;
        margin: 20px auto;
        color: #333;
        max-width: 600px;

    }

    .btnq {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

    .btnq:hover {
        background-color: #45a049;
    }

    #heading {
        margin-bottom: 20px;
    }

    div {
        margin-bottom: 10px;
    }
</style>

<main>
    <div class="row">
        <div class="col-md-5 event-card" style="background-color: {{color}};">
            <br>
            <h2 id="heading">{{name}}</h2>
            <form method="POST" id="eventdetails-form" action="?">
                <div id="name">
                    <strong>Name:</strong> {{name}}
                </div>
                <div id="date">
                    <strong>Date:</strong> {{date}}
                </div>
                <div id="time">
                    <strong>Time:</strong> {{time}}
                </div>
                <div id="venue">
                    <strong>Venue:</strong> {{venue}}
                </div>
                <div id="host">
                    <strong>Host:</strong> {{host}}
                </div>
                <div id="description">
                    <strong>Description:</strong> {{description}}
                </div>

                <input type="submit" class="btnq" value="Register for event">
            </form>
            <br>
        </div>
    </div>
</main>