<style>
    .event-card {
        border-radius: 5px;
        padding: 20px;
        margin: 20px auto;
        color: #333;
        max-width: 600px;

    }

    .btnq {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

    .btnq:hover {
        background-color: #45a049;
    }

    #heading {
        margin-bottom: 20px;
    }

    div {
        margin-bottom: 10px;
    }
</style>
<head>
    <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
</head>
<main>

   <div class="row">
      <div class="col-md-5 event-card" style="background-color: {{color}};">
         <br>
         <h2 id="heading">Event Details</h2>
         <form method="POST" id="eventdetails-form" action="?">
    <div id="eventPicture">
    <strong>Picture:</strong>
    {{#if eventPicture}}
        <img src="{{eventPicture}}" alt="{{name}} Image" style="max-width: 100%;">
    {{else}}
        <img src="/path/to/dummy-image.jpg" alt="Dummy Image" style="max-width: 100%;">
    {{/if}}
</div>
    <div id="name">
        <strong>Name:</strong> {{name}}
    </div>
    <div id="date">
        <strong>Date:</strong> {{date}}
    </div>
    <div id="time">
        <strong>Time:</strong> {{time}}
    </div>
    <div id="price">
        <strong>Price:</strong> {{price}} $
    </div>
    <div id="venue">
        <strong>Venue:</strong> {{venue}}
    </div>
    <div id="host">
        <strong>Host:</strong> {{host}}
    </div>
    <div id="host">
        <strong>Host Email:</strong> {{host}}
    </div>
    <div id="description">
        <strong>Description:</strong> {{description}}
    </div>
    
    <input type="submit" class="btnq" value="Register for event">
   </form>

   <br>
    <add-to-calendar-button
name={{name}}
options="'Apple','Google'"
location={{venue}}
startDate={{date}}
endDate={{date}}
timeZone="America/Los_Angeles"
    ></add-to-calendar-button>
 
   <a href="/submit-review/{{eventId}}">
   <input type="submit" class="btnq" value="Submit Review">
   <br></a>

    
</div>
<div class="col-md-5">
     <h2 id="heading">User Reviews</h2>
     {{#each reviews}}
<div class="events">
    {{this.title}} 
</div>
    <div class="events">
    {{this.description}} 
</div>  
 <div class="events">
    <a href="/edit-review/{{this._id}}/{{this.eventId}}">Edit</a>
    <a href="/delete-review/{{this._id}}/{{this.eventId}}">Delete</a>
</div>  
{{/each}}
</div>
</div>
</main>