{{!-- <!DOCTYPE html>
<html lang="en"> --}}
<head>
  {{!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title> --}}

  <style>
    .profile-picture-container {
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 50%;
    }

    .profile-picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    .avatar-circle {
      width: 100px;
      height: 100px;
      background-color: #ddd;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
    }
  </style>
</head>
<body>

{{#if user.profilePicture}}
  <div class="profile-picture-container">
    <img src="{{user.profilePicture}}" alt="{{user.firstName}}'s Profile Picture" class="profile-picture">
  </div>
{{else}}
  <div class="avatar-circle">
    <i class="fas fa-user fa-5x"></i>
  </div>
  <h2>Add Profile Picture</h2>
  <form action="/profile/add-profile" method="post" enctype="multipart/form-data">
    <label for="profilePicture">Profile Picture:</label>
    <input type="file" id="profilePicture" name="profilePicture">
    <button type="submit">Add Profile Picture</button>
  </form>
{{/if}}

<h1>{{user.firstName}}'s Profile</h1>
<p>Name: {{user.firstName}} {{user.lastName}}</p>
<p>City: {{user.city}}</p>

{{#if user.bio}}
  <p>Bio: {{user.bio}}</p>
{{else}}
  <h2>Add Bio</h2>
  <form action="/profile/add-bio" method="post">
    <label for="bio">Bio:</label>
    <textarea id="bio" name="bio"></textarea>
    <button type="submit">Add Bio</button>
  </form>
{{/if}}

</body>
</html>
