<style>
    #unregister {
      background-color: #116638;
      padding: 5px;
      color: white;
      margin-top: 20px;
    }
</style>
<div>
    Events and Workshops you have registered for:
</div>
{{#each events}}
<div class="events">
    {{this.name}}
</div>

<form method="POST" action="/unregister">
    <input type="hidden" name="eventId" value={{this._id}}>
    <input type="submit" id="unregister" value="Unregister">
</form>
{{/each}}

{{!-- <div class="events"> 
     <strong>Rating:</strong> 
        <ul class="list-inline rating-list" >
        {{#each rates}}
           <li style="float: left;"> 
            {{#if (lte this.rate 5)}}
                <a href="/submit-rating/{{this.rate}}/{{this.eventId}}" href="javascript:void(0)" class="selected" >
                             
                {{else}}
                <a href="javascript:void(0)}" >
                   
                {{/if}}
            <i class="fa fa-star"></i>
                 </a>
            </li> 
         {{/each}}
         </ul></div> --}}