<style>
    #filter {
        height: 64px;
        width: 60%;
        margin: 5% auto 0 auto;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
    }

    .controls input[type="number"],
    .controls input[type="text"] {
        padding: 5px 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    #search {
        cursor: pointer;
        padding: 5px 20px;
        border-radius: 4px;
        border: none;
        background-color: #4CAF50;
        color: white;
        font-size: 1em;
    }

    #search:hover {
        background-color: #45a049;
    }

    .card-img-top {
        border: 3px solid #2c3e50;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-top: 15px;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .card-body {
        background-color: #ffffff;
        padding: 15px;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    }

    .card {
        margin-bottom: 30px;
        border: none;
        border-radius: 15px;
        overflow: hidden;
    }

    #error {
        width: 100%;
        background-color: red;
        text-align: center;
    }

    #search {
        cursor: pointer;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    .main-content {
        width: 60%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    h2 {
        color: #333;
    }

    .events {
        margin: 8px 0;
        padding: 20px;
        font-size: 1.2em;
        border-radius: 5px;

    }

    #events-group {
        display: flex;
        flex-direction: column;
    }

    .events:nth-of-type(4n+1) {
        background-color: #ffcccb;

    }

    .events:nth-of-type(4n+2) {
        background-color: #add8e6;

    }

    .events:nth-of-type(4n+3) {
        background-color: #90ee90;

    }

    .events:nth-of-type(4n) {
        background-color: #ffffe0;

    }

    .events a {
        text-decoration: none;
        color: #000;
    }

    .events a:hover {
        text-decoration: underline;
    }

    #new-event {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 20px 0;
        border: none;
        cursor: pointer;
        width: 50%;
        font-size: 1.2em;
    }

    #loader {
        display: none;
    }
</style>

<body>
    <h2 style="text-align:center;">Upcoming Events and Workshops near you:</h2>
    <div id="filter">
        <div class="controls">
            <input id="miles" type="number" name="distance" class="form-control-sm">
            <label for="distance" class="">Miles</label>
        </div>
        <div class="controls">
            <input id="event-name" type="text" name="event-name" class="form-control-md" placeholder="Filter by name">
        </div>
        <div class="controls">
            <label for="price" class="">Upto</label>
            <input id="price" type="number" name="price" class="form-control-sm"> $
        </div>
        <button id="search" class="btn btn-primary btn-lg">Search</button>
        <div id="loader">
            <div class="spinner-border"></div>
        </div>
    </div>
    <div id="error"></div>
    </div>
    <br>
    <div class="main-content">
        <div id="events-group" class="card-group">
            {{#each events}}
            <div class="card">
                <img class="card-img-top"
                    src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F625808009%2F287287194141%2F1%2Foriginal.20231022-013522?h=230&w=460&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C6%2C952%2C476&s=4cb2709c342b786e80306e5de678fc47"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">{{time}} | {{date}}</p>
                    <p class="card-text">{{venue}}</p>
                    <a href="/allevents/{{_id}}" class="btn btn-primary btn-lg">Details</a>
                </div>
                {{/each}}
            </div>
            <br>
            <br>
            <br>

            <form action="/allevents/request-event">
                <button id="new-event" type="submit">Click here to request for an event!</button>
            </form>
        </div>
</body>
<script>
    document.getElementById('search').addEventListener('click', () => {
        document.getElementById('loader').style.display = 'block';
        navigator.geolocation.getCurrentPosition(displayLocation, showError);
    })

    displayLocation = (position) => {
        document.getElementById('error').innerHTML = '';
        const lat = position.coords.latitude;
        const lng = position.coords.longitude;

        const latlng = { lat, lng }
        const miles = document.getElementById('miles').value;
        const keyword = document.getElementById('event-name').value
        const price = document.getElementById('price').value
        let url = 'http://localhost:3000/filterEvents?'
        if (lat && lng) {
            url += `lat=${lat}&lng=${lng}&distance=${miles}`;
        }
        if (keyword) {
            url += `&keyword=${keyword}`;
        }
        if (price) {
            url += `&price=${price}`;
        }
        fetch(url)
            .then(res => res.text())
            .then((html) => {
                var parser = new DOMParser();
                var doc = parser.parseFromString(html, "text/html");

                if (doc.getElementById('events-group').innerHTML.trim() !== "") {
                    document.getElementById('events-group').innerHTML = doc.getElementById('events-group').innerHTML;
                } else {
                    document.getElementById('error').innerHTML = 'No events found! please update filters';
                    document.getElementById('events-group').innerHTML = '';
                }
                document.getElementById('loader').style.display = 'none';
            })
    }

    showError = (error) => {
        let msg;
        switch (error.code) {
            case error.PERMISSION_DENIED:
                msg = "You denied the request for your location."
                break;
            case error.POSITION_UNAVAILABLE:
                msg = "Your Location information is unavailable."
                break;
            case error.TIMEOUT:
                msg = "Your request timed out. Please try again"
                break;
            case error.UNKNOWN_ERROR:
                msg = "An unknown error occurred please try again after some time."
                break;
        }
        document.getElementById('error').innerHTML = msg;
    }
</script>